@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to API and Microservices</h1>
    <p>Learn and practice Azure and API with Applications. Working with windows or linux. We got you!</p>
</div>
