@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to API and Microservices</h1>
    <p>Learn abWeb apps with ASP.NETout <a href="https://docs.microsoft.com/aspnet/core">building  Core</a>.</p>
</div>
